.advantage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__list {
    display: flex;
    width: 100%;

    color: white;
  }

  &__item {
    @mixin third-text;
    width: 33.34%;
    text-align: center;
    color: white;

    background-color: var(--main-color-blue);

    &--white {
      color: black;
      background-color: #eeeeee;
    }
  }

  &__name {
    @mixin second-text;
    margin-top: 55px;
    font-weight: 700;
    line-height: 21px;
  }

  &__description {
    @mixin third-text;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 5px;
    line-height: 21px;
  }

  &__picture {
    position: relative;

    display: flex;
    width: 66.666%;
    min-height: 256px;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 50%;

    width: 100%;
    height: auto;

    transform: translateY(-50%);
  }
}
