.btn {
  font-family: $font-family-set;
  text-align: center;
  cursor: pointer;

  &--transparent {
    display: block;
    width: 136px;
    margin: 0 auto;
    padding: 3px 0;

    @mixin third-text;
    font-weight: 700;
    line-height: 26px;
    color: white;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;

    &:hover {
      color: black;
      background-color: white;
    }
  }

  &--more {
    box-sizing: border-box;
    width: 111px;
    margin-right: 6px;
    padding-top: 3px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 16px;

    background-color: $main-color-blue;

    &:hover {
      background-color: $main-color-blue-hover;
    }

    &:focus,
    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: $main-color-blue-active;
    }
  }

  &--reservation {
    margin-right: 6px;
    padding-top: 3px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 16px;

    background-color: $brown-color-button;

    &:hover {
      background-color: #604e43;
    }

    &:focus,
    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #503e33;
    }
  }
}

