.btn {
  &--transparent {
    width: 133px;
    margin-top: 35px;
    margin-left: 1px;
    padding: 3px 0;

    font-size: 14px;
    line-height: 26px;
    color: white;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
  }
}
