.checkbox-input {
  margin-bottom: 20px;

  &__label {
    position: relative;

    padding-left: 39px;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;

    &::before {
      content: "";
      position: absolute;
      left: -1px;

      width: 22px;
      height: 22px;

      background-image: url("/img/sprite/checkbox.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__control {
    display: none;

    &:checked + .checkbox-input__label::after {
      content: "";
      position: absolute;
      top: 0;
      left: 4px;

      width: 20px;
      height: 15px;

      background-image: url("/img/sprite/checkbox-tick.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
