.control {
  position: relative;
  margin-top: 20px;
  margin-bottom: 54px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 23px;
    min-height: 2px;
    background-color: white;
  }

  &::before {
    right: 2px;
    max-width: 307px;
    opacity: 0.3;
  }

  &::after {
    right: 60px;
    max-width: 248px;
  }

  &__toggle {
    position: absolute;
    top: -9px;
    padding: 2px;
    background-color: #ababab;
    border: 8px solid white;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #1c4f80;
    }

    &--min {
      left: 4px;
    }

    &--max {
      right: 44px;
    }
  }
}
