.container {
  min-width: 768px;
  margin-right: auto;
  margin-left: auto;

  background-color: #ffffff
  box-shadow: 0 0 15px 2px #cccccc;
}

.container__block_smaller {
  display: none;
}

.container__block__block_high {
  color: #ffffff;
}
