.form {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  box-sizing: border-box;
  width: 570px;
  padding: 55px;

  background: white;
  box-shadow: 0 11px 20px 3px rgba(50, 50, 50, 0.38);
  transform: translateX(-50%);

  animation: slideInDown 0.6s;

  &--filter {
    position: static;

    display: flex;
    justify-content: space-between;
    width: initial;
    padding: 0 6%;

    color: white;

    background: url("/img/bg-hotels.jpg") no-repeat;
    background-size: 100% 100%;
    box-shadow: none;
    transform: none;
  }

  &--hidden {
    display: none;
  }

  &-container {
    position: relative;
  }

  &__survey {
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 0;

    border: none;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 0;
    padding: 0;

    border: none;

    &:last-child {
      margin-left: 104px;
    }
  }

  &__item-title {
    margin-top: 25px;
    margin-bottom: 25px;

    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }

  &__btn {
    @mixin second-text;
    width: 460px;
    min-height: 58px;
    font-weight: 700;
    line-height: 26px;
    font-family: $font-family-set;
    color: white;
    text-transform: uppercase;

    background-color: $main-color-blue;
    border: none;

    &:hover {
      background-color: $main-color-blue-hover;
      cursor: pointer;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      background-color: $main-color-blue-active;
      cursor: pointer;
    }
  }

  &__counter {
    display: flex;
    justify-content: space-between;
  }
}
