.hotel {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 6%;
    padding-right: 6%;

    border-bottom: 1px solid #e5e5e5;
  }

  &__title {
    margin-top: -5px;
    margin-bottom: 8px;

    @mixin second-text;
    font-weight: 700;
    line-height: 26px;
  }

  &__link {
    color: black;
    text-decoration: none;

    &:hover {
      color: var(--main-color-blue);
    }

    &:focus,
    &:active {
      color: var(--black-color-with-opacity);
    }
  }

  &__type {
    display: flex;
    align-items: center;
    margin-bottom: 13px;

    @mixin third-text;
    line-height: 21px;
    color: var(--black-light-color);
  }

  &__name {
    width: 111px;
    margin-top: 0;
    margin-right: 6px;
    margin-bottom: 0;
  }

  &__cost {
    width: 111px;
    margin-top: 0;
    margin-bottom: 0;

    text-align: left;
  }

  &__reservation {
    display: flex;

    @mixin third-text;
    font-weight: 700;
    line-height: 21px;
    color: white;
  }

  &__description {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 30px;
  }
}
