.hotel-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;

  &__text {
    box-sizing: border-box;
    max-width: 130px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 16px;

    @mixin third-text;
    line-height: 21px;
    text-align: center;
    color: #666666;

    background-color: #f2f2f2;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 44px;
  }

  &__item {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 6px;

    background-image: url("../img/sprite.png");
    background-position: -113px -61px;
    background-size: 226px 78px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2px;

    &:last-child {
      margin-right: 0;
    }
  }
}
