.hotel {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2px;
    padding: 28px 6%;

    border-bottom: 1px solid #e5e5e5;
  }
}
