.map {
  display: flex;
  width: 100%;
  min-height: 472px;
  margin-bottom: 2px;

  background-position: center;
  background-image: url("../img/bg-map.jpg");
  background-repeat: no-repeat;
  background-color: var(--bgcolor-map-picture);
}
