.page-footer {
  position: relative;

  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 33px 0 35px;

  text-align: center;

  &__hashtag {
    flex-basis: 33.33%;
    align-self: center;

    @mixin second-text;
    font-weight: 700;
    line-height: 26px;
  }

  &__social {
    position: relative;

    flex-basis: 33.33%;
    align-self: center;
  }

  &__copyright {
    display: flex;
    flex-basis: 33.3%;
    justify-content: center;
    align-items: center;
  }

  &__developed {
    margin-right: 10px;

    @mixin third-text;
  }

  &__copyright-link {
    width: 113px;
    height: 39px;

    background: url("../img/sprite/ha-logo.png") no-repeat;

    &:hover,
    &:focus {
      background: url("../img/sprite/ha-logo-hover.png") no-repeat;
    }

    &:active {
      background: url("../img/sprite/ha-logo-active.png") no-repeat;
    }
  }
}
