.page-footer {
  position: relative;

  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 33px 0 35px;

  text-align: center;

  &__hashtag {
    flex-basis: 33.33%;
    align-self: center;

    @mixin second-text;
    font-weight: 700;
    line-height: 26px;
  }

  &__social {
    position: relative;

    flex-basis: 33.33%;
    align-self: center;
  }

  &__copyright {
    display: flex;
    flex-basis: 33.3%;
    justify-content: center;
    align-items: center;
  }

  &__developed {
    margin-right: 10px;

    @mixin third-text;
  }

  &__copyright-link {
    width: 113px;
    height: 39px;

    background-image: url("../img/sprite.png");
    bacgkround-repeat: no-repeat;
    background-position: 0 0;
    background-size: 226px 78px;

    &:hover,
    &:focus {
      background-image: url("../img/sprite.png");
      background-repeat: no-repeat;
      background-position: 0 -39px;
      background-size: 226px 78px;
    }

    &:active {
      background-image: url("../img/sprite.png");
      background-repeat: no-repeat;
      background-position: -113px 0;
      background-size: 226px 78px;
    }
  }
}
