.page-description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    @mixin second-text;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
  }

  &__reason {
    margin-top: 12px;
    margin-bottom: 50px;

    @mixin third-text;
    line-height: 26px;
    text-align: center;
  }
}
