.promo {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 27px;

  text-align: center;

  &__title {
    margin-bottom: 15px;

    font-size: 30px;
    line-height: 24px;
  }

  &__description {
    margin-bottom: 45px;

    @mixin third-text;
    color: var(--black-light-color);
  }

  &__search {
    align-self: center;
    box-sizing: border-box;
    width: 570px;
    min-height: 85px;
    padding: 0;

    @mixin second-text;
    font-weight: bold;
    line-height: 26px;
    font-family: var(--font-family-set);
    color: white;
    text-transform: uppercase;

    background-color: var(--brown-color-button);
    border: none;
    cursor: pointer;
  }
}
