.social {
  display: flex;
  justify-content: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;

    font-size: 0;
    color: rgba(255, 255, 255, 1);

    background-color: $main-color-blue;

    &:hover,
    &:focus {
      background-color: $main-color-blue-hover;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      background-color: $main-color-blue-hover;
    }

    &:nth-child(2) {
      margin-right: 6px;
      margin-left: 6px;
    }
  }

  &__svg {
    fill: white;
  }
}
