.sorting {
  display: flex;
  justify-content: space-between;
  padding: 9px 6% 9px;

  border-bottom: 1px solid #e5e5e5;

  &__block {
    display: flex;
  }

  &__title {
    @mixin second-text;
    font-weight: 700;
    line-height: 26px;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-top: 24px;
    padding-left: 26px;

    list-style: none;
  }

  &__item {
    padding-right: 18px;
    padding-left: 18px;

    list-style: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    &:nth-child(1) {
      padding-left: 20px;
    }
  }

  &__link {
    color: var(--black-color-with-opacity);
    border-bottom: 1px dashed var(--main-color-blue);
    text-decoration: none;

    &:hover {
      color: var(--main-color-blue);
    }

    &--active {
      color: var(--main-color-blue);
      border-bottom: none;
    }
  }
}
